*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 92, 128);
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 15rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    overflow: auto;
}

.card{
    height: 400px;
    width: 275px;
    background-color: rgb(240, 210, 210);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgb(14, 13, 13);
    border-radius: 1rem;
    gap: 0.5rem;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    /* margin-bottom: 2rem; */
    box-shadow: 0 0 10px 5px rgb(55, 55, 55);
}

h3 {
   /* padding-bottom: 1rem; */
   font-size: 2rem;
}

h4{
    font-size: 2rem;
    /* margin-bottom: 1.5rem; */
}

button{
    border-radius: 1rem;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 183, 255);
    font-size: 1.1rem;
    padding: 10px 80px 10px 80px;
    margin-top: 1rem;
}

button:active{
    scale: 0.9;
}

.green-btn{
    background-color: green;
}
.blue-btn{
    background-color: rgb(0, 183, 255);
}

.green-txt{
    color: green;
}
.blue-txt{
    color: "";
}